[Unit]
Description="Gizmo the friendly discord bot"
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/ubuntu/gizmo/bot-env/bin/python3 /home/ubuntu/gizmo/main.py
Restart=always
RestartSec=5
WorkingDirectory=/home/ubuntu/gizmo/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gizmo
User=ubuntu
#EnvironmentFile=/home/ubuntu/gizmo/.env

[Install]
WantedBy=multi-user.target
